# REACT_APP_ROPSTEN_LINK_URL=https://link.ropsten.x.immutable.com
# REACT_APP_ROPSTEN_ENV_URL=https://api.ropsten.x.immutable.com/v1

# REACT_APP_API_URL=https://web3api.moontek.io
# REACT_APP_DISCORD_URL=https://discord.com/invite/sB9jezm5Vd